###############################################################################

# Copyright (C) 2022  Siddh Raman Pant

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

# The online repository may be found at <github.com/covid-saarani/lipik>.

###############################################################################


# Note: Indentation here is of 2 spaces.

name: Clerk work

on:
  schedule:  # Every hour (at the 15th minute).
    - cron: 15 * * * *

  workflow_dispatch: {}  # For manual switch.

  push:  # Whenever we update code in the main branch, or this action file.
    branches:
      - main
    paths:
      - "**.py"
      - ".github/workflows/action.yml"
# End of on.

jobs:
  scheduled:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Lipik
        uses: actions/checkout@v2.4.0
        with:
          ref: main
          path: lipik

      - name: Checkout Saarani
        uses: actions/checkout@v2.4.0
        with:
          ref: main
          repository: covid-saarani/saarani
          ssh-key: ${{ secrets.SAARANI_DEPLOY }}
          path: saarani

      - name: Setup Python
        uses: actions/setup-python@v2.3.1
        with:
          python-version: 3.9.x

      - name: Generate locale and change timezone
        run:  |
          sudo locale-gen en_IN
          sudo locale-gen en_IN.UTF-8
          sudo timedatectl set-timezone Asia/Kolkata

      # Thanks to https://stackoverflow.com/a/62639424 for suggesting to cache
      # venv instead of pip wheels. This is much faster and does not require
      # installation of packages again. Note that environment isn't preserved
      # between runs.
      - name: Cache virtual environment
        uses: actions/cache@v2.1.7
        id: cache-venv
        with:
          path: ~/venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-venv-

      - name: Make virtual environment
        if: steps.cache-venv.outputs.cache-hit != 'true'
        working-directory: ./lipik
        run: |
          python3 -m venv ~/venv
          . ~/venv/bin/activate
          pip install -r requirements.txt

      # Our main clerk work is here.
      - name: Make data and store in the Saarani folder
        working-directory: ./lipik
        run: |
          . ~/venv/bin/activate
          python3 lipik.py

      - name: Commit changes (if any)
        working-directory: ./saarani
        run: |
          if [[ $(git status -s) ]]; then
            git config user.name github-actions
            git config user.email github-actions[bot]@users.noreply.github.com
            git add .
            git commit -m "Auto fetch: $(date +'%Y-%m-%d %R')"
            git push
          fi
    # End of steps.
  # End of scheduled.
# End of jobs.


# End of file.
